.map-container {
  width: 100vh; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url('/Assets/maps/map1.jpg'); /* Update the path to your actual map image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  overflow: hidden; /* Hide overflow if needed */
  position: relative; /* Positioning context for child elements */
}
